:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}


.slider {
  position: relative;
}
.swiper {
  position: unset;
  width: 85%;
}

.swiper-button-next {
  background-image: url('./assets/right-arrow.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 65px;
  height: 65px;
  margin-left: 60px;
}
.swiper-button-prev {
  background-image: url('./assets/left-arrow.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 65px;
  height: 65px;
  margin-right: 60px;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px; 
    height: 40px;
  }
}

/* Scroll bar */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgb(229, 228, 228);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #34a6b1;
  /* border-radius: 5px; */
  border-radius: 10px;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Firefox */
}